#services .container-services {
    padding-bottom: 40px;
}

#services .container-services .ant-col {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    transition: var(--transition-primary);
    -webkit-transition: var(--transition-primary);
    -moz-transition: var(--transition-primary);
    -ms-transition: var(--transition-primary);
    -o-transition: var(--transition-primary);
}

#services .container-services .box-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#services .container-services a {
    color: #fff;
    margin-top: auto;
}

#services .container-services .ant-col:hover .image-box {
    border-top: 4px solid var(--color-primary);
}

#services .container-services .ant-col .icon-box {
    background-color: var(--color-primary);
    width: fit-content;
    padding: 15px 30px;
    z-index: 2;
    margin-top: -55px;
    margin-bottom: 15px;
}

#services .container-services .ant-col .icon-box .icon {
    font-size: 35px;
}


#services .container-services .image-box {
    height: 250px;
    border-top: 4px solid var(--color-text-secondary);
}

#services .container-services .text-box {
    padding: 20px;
    background: url("../../../public/assets/images/work-shop/estimate-bg_img.png");
    background-color: #000;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#services .container-services .text-box h3 {
    margin: 0;
}

#services .container-services .text-box h5 {
    margin: 0;
}

#services .container-services .text-box ul {
    padding: 15px 0;
}

#services .container-services .text-box ul li {
    padding: 10px 0;
    list-style: inside;
}

#services .container-services .text-box button {
    margin-top: auto;
}

#services .container-services .text-box button a {
    width: 100%;
}

@media (max-width: 768px) {
    #services .container-services .image-box {
        height: 170px;
    }
}