#MainFooter {
    padding: 40px 0 0;
}

#MainFooter .main-footer-container .ant-col {
    padding-top: 15px;
    padding-bottom: 15px;
}

#MainFooter .main-footer-container .ant-col h3 {
    font-size: 32px;
}

#MainFooter .main-footer-container .ant-col .image,
#MainFooter .main-footer-container .ant-col .paragraph {
    margin-bottom: 25px;
}

#MainFooter .main-footer-container .ant-col .image {
    width: 226px;
}

#MainFooter .main-footer-container .ant-col .image img {
    width: 100%;
}

#MainFooter .main-footer-container .ant-col .paragraph {
    margin-top: 25px;
    line-height: 1.6;
    max-width: 320px;
}

#MainFooter .main-footer-container .ant-col .title {
    margin-bottom: 20px;
}

#MainFooter .main-footer-container .ant-col li {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
}

#MainFooter .main-footer-container .ant-col li a {
    color: #fff;
}

#MainFooter .main-footer-container .ant-col .services-list li:not(:last-child) {
    border-bottom: 0.5px solid;
}

#MainFooter .main-footer-container .ant-col .social-links {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

#MainFooter .main-footer-container .ant-col .social-links a {
    color: var(--color-icons-primary);
}

#MainFooter .main-footer-container .ant-col .left-col {
    display: flex;
    align-items: center;
    gap: 15px;
}

#MainFooter .main-footer-container .left-col .phone-icon {
    font-size: 38px;
    color: var(--color-text-primary);
    color: var(--color-text-primary) !important;
}

#MainFooter .main-footer-container .left-col h3,
#MainFooter .main-footer-container .left-col h5 {
    margin: 0 !important;
    color: var(--color-text-primary) !important;
}

#MainFooter .copy-rights {
    text-align: center;
}